<div class="index">
    <h1>Selamat Datang Di Halaman Killua</h1>
    <p>Silahkan Pilih 2 Halaman Di Bawah Ini!!</p>
</div>
<div class="index mt-4">
    <h2>Silahkan Pilih Link</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contact Killua</h5>
                    <p class="card-text">Silahkan Klik Tombol Di Bawah Ini</p>
                    <a href="/contact" class="btn btn-info">Go To Contact Killua</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tambah Data Killua</h5>
                    <p class="card-text">Silahkan Klik Tombol Di Bawah Ini</p>
                    <a href="/todo-view" class="btn btn-warning">Go to Tambah Data Killua</a>
                </div>
            </div>
        </div>
    </div>
</div>
